// colors
$primary: #4a90e2; // water
$secondary: #b7410e; // rust
$accent: #e1ad01; // mustard
$info: #759194; // stone
$warning: #f05e23; // orange
$error: #950714; // cranberry
$success: #228b22; // forrest

$light-grey: #d9d9d9;
$lighter-grey: #ebe9e9;
$dark-grey: #4a4a4a;

$cubic-bezier: cubic-bezier(0.57, 0.06, 0, 1.06);