// @import '~vuetify/src/styles/styles.sass';

html,
body {
  color: $grey8;
  height: 100%;
}

#__nuxt,
#__layout,
#app,
.v-application--wrap {
  height: 100%;
}

.v-application.theme--dark {
  main.v-main {
    &:not(.background) {
      background: var(--v-background-base, #121212) !important;
    }
  }
}

a {
  text-decoration: none;
}

button,
a {
  &:hover,
  &:active {
    &:before {
      background: transparent !important;
    }
  }

  &.v-btn--active {
    &:before {
      background: transparent;
    }
  }
}

span, div, input {
  letter-spacing: 1px !important;
}

.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity 0.5s;
}

.page-fade-enter,
.page-fade-leave-to {
  opacity: 0;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.drag {
  cursor: grab;
}

.nav-link, .v-btn {
  &:hover::before {
    opacity: 0 !important;
  }

  &:focus::before {
    opacity: 0 !important;
  }
}

.v-ripple__container {
  display: none !important;
}

.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6, .text-p, span, div {
  letter-spacing: 1px;
}
