// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$body-font-family: 'Avenir Next', 'Lato', Roboto, 'Helvetica Neue', sans-serif !default;
$heading-font-family: 'Avenir Next', 'Lato', Roboto, 'Helvetica Neue', sans-serif !default;
// $headings: (
//   'h1': (
//     'letter-spacing': 1px,
//   ),
//   'h2': (
//     'letter-spacing': 1px,
//   ),
//   'h3': (
//     'letter-spacing': 1px
//   ),
//   'h4': (
//     'letter-spacing': 1px
//   ),
//   'h5': (
//     'letter-spacing': 1px
//   ),
//   'h6': (
//     'letter-spacing': 1px
//   ),
//   'subtitle-1': (
//     'letter-spacing': 1px
//   ),
//   'subtitle-2': (
//     'letter-spacing': 1px
//   ),
//   'caption': (
//     'letter-spacing': 1px
//   ),
//   'overline': (
//     'letter-spacing': 1px
//   ),
//   'body-1': (
//     'letter-spacing': 1px,
//   ),
//   'body-2': (
//     'letter-spacing': 1px,
//   )
// );

$material-light: (
  'text': (
    'primary': #494f57
  )
);

$text-field-outlined-fieldset-border: 1px solid currentColor !default;

$btn-font-weight: 600;
$btn-hover-opacity: 0.1 !default;

$menu-content-elevation: 2;

$ripple-animation-transition-in: none;
$ripple-animation-transition-out: none;