@import '~/css/global';

.widget-wrapper {
  align-content: start;
  border: 1px solid $light-grey;
  border-radius: 4px;
  display: grid;
  height: 100%;
  padding: 2rem;
  position: relative;
  width: 100%;

  .widget-header {
    align-items: start;
    display: grid;
    font-weight: 500;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}